<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DashboardAgro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <script src="~/js/sidebar.js"></script>
</head>
<body>
    <header>
     

         <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            
                @if(User.Identity.IsAuthenticated)
                {
                    if(User.IsInRole("User"))
                    {
                    <a asp-area="" asp-controller="NewsArticles" asp-action="Index">Agri News</a>
                    <a asp-area="" asp-controller="Boards" asp-action="Index">Board</a>
                        <a asp-area="" asp-controller="Contacts" asp-action="ContactMail">Contact</a>
                    }
                    
                        if(User.IsInRole("Administrator"))
                    {
                    <a asp-area="" asp-controller="NewsArticles" asp-action="Index">Agri News</a>
                    <a asp-area="" asp-controller="Boards" asp-action="Index">Board</a>
                    <a asp-area="" asp-controller="Boards" asp-action="DisplayUserList">User List</a>
                        <a asp-area="" asp-controller="Contacts" asp-action="ContactMail">Contact</a>
                    }
                    }
                

            <partial name="_LoginPartial"/>
        </div>

        <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776; Dashboard</button>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </header>
  

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DashboardAgro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
