@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User).Substring(0, UserManager.GetUserName(User).IndexOf("@"))!</a>
    <form id="logoutForm" class="" style="margin-left: 17%; margin-top: 110%;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-danger p-2 ml-5">Logout</button>
    </form>
}
else
{
    <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
